<form class="form-inline" method="post" action="insert">
  <div class="form-group">
    <label for="email">Tên</label>
    <input type="email" name="name" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Miêu tả</label>
    <input type="text" name="desc" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Hình ảnh</label>
    <input type="text" name="img" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>